rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Anketler: Okuma ve yönetim
    match /surveys/{surveyId} {
      allow read, write: if true;
    }
    
    // Yanıtlar: Katılımcı yanıtları ve analiz
    match /responses/{responseId} {
      allow read, write: if true;
    }
    
  }
}
